.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3.8vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-font{
  font-family: 'Baloo 2', cursive;  ;
  margin-top: 1rem;
  font-size: 1.8vmin;
  border: none;
}

.btn-exit{
  font-family: 'Baloo 2', cursive;  ;
  margin-top: 1rem;
  font-size: 1.3vmin;
  border: none;
}

.header{
  font-family: 'Gotu', cursive;
  color: red;
}
.intro{
  font-family: 'Playfair Display', serif;
  /* text-align: center; */
}
.sub-intro{
  font-family: 'Merriweather', serif;
  font-size: 2vmin;
}
.regText{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6vmin;
}

/* range value slider */
.custom-range::-webkit-slider-thumb {
  background: coral;
}

.custom-range::-moz-range-thumb {
  background: coral;
}

.custom-range::-ms-thumb {
  background: coral;
}
.custom-range::-webkit-slider-thumb:active {
  background-color: coral;
}

/* nicer scrollbar */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0.7rem;
  height: 0.7rem;
  background-color: lightgrey;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}


.table.sticky th{
  position: sticky;
  top: 0;
  z-index:50;
  color: #fff;
  border-color: #fbfcfc;
  background-color: #343a40;
  transform: translateY(-2px);

}

button:disabled{
  opacity:0.5;
}